node_modules/
dist/
*.js
*.d.ts
!**/src/**/*.d.ts
*.js.map
*.d.ts.map
!vite.config.ts
.env
.env.local
data/
aalis.config.yaml
workspace/
.vscode/
.idea/
*.log
*.node
*.tsbuildinfo
**/native/target/
test/
tests/
.DS_Store
